numpy
pandas
tensorflow==2.16.1
matplotlib
scikit-learn
joblib
streamlit
requests
pandas_ta
ipykernel
scikeras
statsmodels
keras
stable-baselines3
gym
seaborn
mplfinance
datetime
load_dotenv





